html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
  background-color: #202026;
  color: white;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
body>div {
  box-sizing: border-box; 
}

body.index {
  display: table-cell;
  vertical-align: middle;
}
body.index>div {
  width: fit-content;
  margin: auto;
}
body.cheatsheet {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1000px) {
  body.cheatsheet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
body.cheatsheet>div {
  padding: 20px;
}
body.cheatsheet>div:nth-child(2) {
  flex: 3;
  min-width: 600px;
}
body.cheatsheet>div:nth-child(1) {
  flex: 1;
  min-width: 300px;
}
body.cheatsheet>div:nth-child(3) {
  flex: 1;
}

h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h1:not(:first-child) {
  margin-top: 40px;
}
h2 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 20px;
  text-transform: lowercase;
}
h2::before {
  content: 'â—';
  font-size: 1.1em;
  margin-right: 10px;
}

@keyframes opacity_blink {
	from {
		opacity: 1.0;
	} to {
		opacity: 0.2;
	}
}
a {
  color: yellow;
  transition: color 1s ease;
}
a:hover {
  color: white;
  transition: color 1s ease;
}
a:active {
	animation-name: opacity_blink;
	animation-duration: 0.03s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
li>a {
  font-weight: bold;
  text-decoration: none;
}
li>a:hover {
  text-decoration: underline;
}
li {
  padding: 3px 0;
}
p {
  margin: 15px 0;
}
.scrollToTopBtn {
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.showBtn {
  display: block !important;
  transform: translateY(0)
}

.code>div:not(.separator):nth-child(2n) {
  background-color: rgba(255,255,255,0.1);
}
.code>div.main:not(.separator):nth-child(2n) {
  background-color: rgba(0,128,0,0.5);
}
.code>div.main:not(.separator):nth-child(2n + 1) {
  background-color: rgba(0,128,0,0.3);
}

.code, .codeshow, .shortcode {
  font-family: monospace;
  tab-size: 2;
  text-overflow: ellipsis;
  background-color: black;
  border-left: solid 15px grey;
  margin: 20px 0;
}
.code>div, .codeshow>div, .shortcode>div {
  white-space: pre;
  padding: 3px 5px;
}
.code>div {
  display: none;
}
.code>div.main {
  display: block;
  cursor: pointer;
}
div.separator {
  display: block;
  cursor: pointer;
  height: 3px;
  background-color: #0d0;
  padding: 0;
  box-shadow: 0 0 8px 1px #0d0;
}

.shortcode>div:not(.separator):nth-child(2n) {
  background-color: rgba(255,255,255,0.1);
}
.codeshow>div:not(.separator):nth-child(2n) {
  background-color: rgba(255,255,255,0.1);
}
.codeshow>div.main:not(.separator):nth-child(2n) {
  background-color: rgba(0,128,0,0.5);
}
.codeshow>div.main:not(.separator):nth-child(2n + 1) {
  background-color: rgba(0,128,0,0.3);
}
.codeshow>div.main {
  display: block;
  cursor: pointer;
}
.codeshow>div.separator {
  display: none;
}

div.separator>div {
  width: 19px;
  height: 19px;
  border-radius: 10px;
  margin: auto;
  background-color: inherit;
  position: relative;
  z-index: 2;
  top: -9px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 0;
  box-shadow: 0 0 8px 1px #0d0;
}